.sidebar-wrapper {
    height: 100%;
    width: calc(100% - 370px);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.sidebar-wrapper.hidden {
    display: none;
}

.sidebar-container {
    background-color: #FFFFFFD9;
    height: 100%;
    width: 370px;
    padding: 35px 40px;
    right: 0;
    top: 0;
    position: fixed;
    overflow-y: auto;
    z-index: 999;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    transition: transform 0.15s ease-in-out;
}

.sidebar-container.close {
    transform: translateX(100%);
}

.sidebar-close-button-container {
    height: 40px;
    margin-bottom: 30px;
}

.sidebar-close-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FF4A52;
    right: 30px;
    cursor: pointer;
    position: absolute;
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 1px;
    background-color: transparent;
}

.cross:before, .cross:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(135deg);
}

.sidebar-nav-menu a {
    display: block;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    font-family: var(--font);
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-nav-menu a:hover {
    color: red;
}

.sidebar-rec-tour {
    margin-top: 50px;
}

.sidebar-social-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

.social-network-icon {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: inherit;
}

.social-network-icon:hover {
    color: rgb(249, 21, 21);
}

@media (max-width: 779px) {
    .sidebar-wrapper {
        width: calc(100% - 270px);
    }

    .sidebar-container {
        width: 270px;
    }

    .sidebar-social-menu {
        justify-content: center;
    }
}